<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="plantilla/template::head"></head>
    <body>
        <header th:replace="plantilla/template::header"/>
        <div class="container mt-5 w-25">
            <p class="h1 my-4" th:text="#{login.title}"/>
            <form name="f" th:action="@{/login}" method="post">
                <fieldset>
                    <div th:if="${param.error}" class="alert alert-danger">
                        Nombre de usuario o contraseña invalidos.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success">
                        Sesión cerrada con éxtio
                    </div>

                    <div class="form-group">
                        <label for="username" th:text="#{login.usernameInput}"></label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>

                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary w-100 mt-4">Iniciar sesión</button>
                    </div>
                </fieldset>
            </form>
        </div>
        </body>
</html>
