<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template::head"/>
    <body>
        <header th:replace="plantilla/template::header"/>
        <div class="container my-5">
            <p class="h1 mb-4" th:text="#{premium_title}"></p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" th:text="#{add_Premium.Name}"></th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="user : ${premiumList}">
                        <tr>
                            <td th:text="${user.getNombre}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
            
        </div>
        <footer th:replace="plantilla/template::footer"/>
    </body>
</html>
