<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template::head"/>
    <body>
        <header th:replace="plantilla/template::header"/>
        <div class="container my-5">
            <p class="h1 mb-4" th:text="#{stats.video_stats_title}"></p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" th:text="#{stats.category}"></th>
                        <th scope="col" th:text="#{stats.video_count}"></th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="videoStat : ${videoStatsList}">
                        <tr>
                            <td th:text="${videoStat.getCategoryName}"></td>
                            <td th:text="${videoStat.getRelativeCount}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
            <p class="h1 mt-5 mb-4" th:text="#{stats.user_stats_title}"></p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" th:text="#{stats.users_role}"></th>
                        <th scope="col" th:text="#{stats.users_count}"></th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="userStat : ${userStatsList}">
                        <tr>
                            <td th:text="${userStat.getRoleName}"></td>
                            <td th:text="${userStat.getRelativeCount}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
        <footer th:replace="plantilla/template::footer"/>
    </body>
</html>
